@import '../../mixins/params.scss';

// import "../components/special/external_api.scss"
.researchgate_embed {
  height: 800px;
  width: 300px;
}

// .researchgate_embed_container {
//   height: 800px;
//   width: 300px;
//   width: min-content;
// }

// IMMEDIATE PARENT RULE
// .x > .y {
// }

// ANY POSITION PARENT RULE
// .x .y {
// }

// HANDLES SCREENWIDTH CHANGES
.container_root {
  max-width: 1200px;

  @media screen and (max-width: $width_phone2) {
    max-width: $width_phone2;
  }
  @media screen and (min-width: $width_phone2) and (max-width: $width_tabletend) {
    max-width: $width_tabletend;
    min-width: $width_phone2;
  }
  @media screen and (min-width: $width_tabletend) {
    min-width: $width_tabletend;
    max-width: $width_desktop;
  }
}

// DEFAULT LAYOUT OPTIONS

.container_mainpage {
  max-width: 1920px;
  display: flex;
  margin: auto;
  width: 100%;
}

.layout_mainpage {
  &:nth-child(1) {
    width: 210px;
    @apply flex-none;
  }
  &:nth-child(2) {
    max-width: 1080px;
    flex-grow: 1;
  }
  &:nth-child(3) {
    width: 300px;
    min-height: 600px;
    @apply flex-none;
  }
}

// MOBILE LAYOUT : 0px - 768px
@media screen and (max-width: 768px) {
  .container_mainpage {
    max-width: $width_phone2;
    display: flex;
    margin: auto;
    width: 100%;
  }
  .layout_mainpage {
    &:nth-child(1) {
      width: 0;
      display: none;
    }
    &:nth-child(2) {
      @apply flex-auto;
      width: 100%;
      flex: 1;
      @apply mx-0;
    }
    &:nth-child(3) {
      display: none;
      width: 0px;
    }
  }
}

// 1080px - 1920px
@media screen and (min-width: 1280px) {
  .layout_mainpage {
    &:nth-child(1) {
      width: 210px;
      @apply flex-none;
    }
    &:nth-child(2) {
      @apply flex-auto;
      @apply mx-2;
    }
    &:nth-child(3) {
      display: block;
      width: 300px;
    }
  }
}

// 540px - 1080px
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .layout_mainpage {
    &:nth-child(1) {
      width: 210px;
      @apply flex-none;
    }
    &:nth-child(2) {
      @apply flex-auto;
      @apply ml-2;
      @apply mr-0;
    }
    &:nth-child(3) {
      width: 0px;
      @apply flex-none;
      display: none;
    }
  }
}

// Page footer. Has to change with screen size
.footer01 {
  @apply bg-gray-600;
  @apply px-4;
  @apply py-2;
  display: flex;
}
