@import "../../mixins/library.scss";

// import "../components/special/external_api.scss"
.researchgate_embed {
  height: 800px;
  width: 300px;
}

// Section A + C = 300px + 220px
$maxwidth_container: 1920px;
$maxwidth_sectionB: 1500px;

$width_setionA: 220px;
$width_setionB: 220px;
$width_setionC: 220px;

$margin_sectionB: 1.4rem;
// .researchgate_embed_container {
//   height: 800px;
//   width: 300px;
//   width: min-content;
// }

// IMMEDIATE PARENT RULE
// .x > .y {
// }

// ANY POSITION PARENT RULE
// .x .y {
// }

// HANDLES SCREENWIDTH CHANGES
.container_root {
  max-width: $maxwidth_container;

  @media screen and (max-width: $width_phone2) {
    max-width: $width_phone2;
  }
  @media screen and (min-width: $width_phone2) and (max-width: $width_tabletend) {
    max-width: $width_tabletend;
    min-width: $width_phone2;
  }
  @media screen and (min-width: $width_tabletend) {
    min-width: $width_tabletend;
    max-width: $width_desktop;
  }
}

// DEFAULT LAYOUT OPTIONS

.container_mainpage {
  max-width: $maxwidth_container;
  display: flex;
  margin: auto;
  width: 100%;
}

.layout_mainpage {
  &:nth-child(1) {
    width: $width_setionA;
    @apply flex-none;
  }
  &:nth-child(2) {
    max-width: maxwidth_sectionB;
    flex-grow: 1;
  }
  &:nth-child(3) {
    width: 300px;
    min-height: 600px;
    @apply flex-none;
  }
}

// MOBILE LAYOUT : 0px - 768px
@media screen and (max-width: 768px) {
  .container_mainpage {
    max-width: $width_phone2;
    display: flex;
    margin: auto;
    width: 100%;
  }
  .layout_mainpage {
    &:nth-child(1) {
      width: 0;
      display: none;
    }
    &:nth-child(2) {
      @apply flex-auto;
      width: 100%;
      flex: 1;
      @apply mx-0;
    }
    &:nth-child(3) {
      display: none;
      width: 0px;
    }
  }
}

// 1080px - 1920px
@media screen and (min-width: 1280px) {
  .layout_mainpage {
    &:nth-child(1) {
      width: $width_setionA;
      @apply flex-none;
    }
    &:nth-child(2) {
      @apply flex-auto;
      margin-left: $margin_sectionB;
      margin-right: $margin_sectionB;
    }
    &:nth-child(3) {
      display: block;
      width: 300px;
    }
  }
}

// 540px - 1080px
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .layout_mainpage {
    &:nth-child(1) {
      width: $width_setionA;
      @apply flex-none;
    }
    &:nth-child(2) {
      @apply flex-auto;
      margin-left: $margin_sectionB;
      margin-right: $margin_sectionB;
    }
    &:nth-child(3) {
      width: 0px;
      @apply flex-none;
      display: none;
    }
  }
}

// Page footer. Has to change with screen size
.footer01 {
  @apply px-4;
  @apply py-2;
  display: flex;
}

div.div_visitagain {
  @apply bg-gray-600;
  @include sidebar_offset();
}

div.div_mainfooter {
  background-color: #212121;
  @include sidebar_offset();
}
