/**
 * Lists
 * =================================
 * - (Un)ordered lists
 * - Unstyled lists
 * - Definition lists
 * - Centred lists
 * - Floated lists
 */
ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ul,
ol {
  padding: 0;
  margin: 0 0 28px 28px;
}
ul ul,
ul ol,
ol ul,
ol ol {
  margin-left: 56px;
}
ul ul,
ol ul {
  list-style-type: circle;
}
ul ul ul,
ol ul ul {
  list-style-type: square;
}
ul ol,
ol ol {
  list-style-type: upper-roman;
}
ul ol ol,
ol ol ol {
  list-style-type: lower-roman;
}
ul ul,
ul ol,
ol ul,
ol ol {
  margin-bottom: 0;
}

/**
 * Unstyled lists
 */
.unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-image: none;
}

/**
 * Definition lists
 */
dl {
  margin-bottom: 28px;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 28px;
}

/**
 * Centred lists
 *
 * Usage:
 <ul class="l-list--centred">
 <li></li>
 </ul>
 */
.l-list--centred,
.l-list--centered {
  text-align: center;
}
.l-list--centred li,
.l-list--centered li {
  display: inline;
}

/**
 * Floated lists
 * Usage:
 <ul class="l-list--floated">
 <li></li>
 </ul>
 */
.l-list--floated:after {
  content: '';
  display: table;
  clear: both;
}

.l-list--floated li {
  float: left;
  display: inline-block;
}
