/** NOTE:  

    justify - performs main axis alignment. (same dir as flex-direction)
    align   - performs cross-axis alignment (across dir as flex-direction)

    display: flex to a container, the child items all become flex items arranged in a row.
    They will all stretch to be as tall as the tallest item

    (src: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Aligning_Items_in_a_Flex_Container)
*/

// Elements will flex out to left and right
.container_nextandback {
  display: flex;
  justify-content: space-between;
  @apply mt-8;
  @apply mb-0;
}

// To disable link underlining
.navigation a {
  align-items: center;
  justify-content: center;
  padding: 16px;
  line-height: 1.25;
  border: 2px solid #c2255c;
}

.nextandback {
  &:nth-child(1),
  &:nth-child(3) {
    // float: left;
    display: flex;
    max-width: 160px;
    justify-content: center;
    text-align: left;
    border: 2px solid #c2255c;
    @apply px-2;
    @apply py-3;

    min-width: 180px;
    align-items: center;
  }
  &:nth-child(2) {
    justify-content: stretch;
    margin-left: auto; // will push everything to right
  }
  // &:nth-child(3) {
  //   display: flex;
  //   max-width: 160px;
  //   justify-content: right;
  //   text-align: right;
  // }
}

// LIST NAVIGATION
a.navitem {
  text-decoration: none;
}

a.navitemActive {
  &::before {
    content: '';
    width: 5px;
    position: absolute;
    left: -20px;
    bottom: 2px;
    top: 2px;
    background-color: blue($color: #000000);
  }
}
