/** Contains sidebar components. */

// import "../components/special/sidebar.css"
.sidebar {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 26px;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  @apply shadow-lg;
  padding-right: 1rem;
  max-width: 400px;
}

.sidebar_footer {
  position: absolute;
  bottom: 32px;
  color: #818181;
  padding-left: 0.5em;
  width: 100%;
  & > p {
    line-height: 0.5em;
    font-size: medium;
    font-weight: 100;
    text-align: center;
    align-content: center;
  }
}

.sidebar :first-child {
  margin-top: 120px;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 21px;
  color: #818181;
  display: block;
  line-height: 1em;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* On smaller screens, where height is less than 450px, 
*   change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-width: 768px) {
  .sidebar {
    padding-top: 15px;
    display: none;
    width: 0px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
