/** Contains sidebar components. */

// import "../components/special/sidebar.css"
.sidebar {
  height: auto;
  position: fixed;
  // top: 48px;
  height: 100%;
  z-index: 1;
  background-color: #111;
  overflow-x: hidden;
  // uniform padding
  padding-left: 1rem;
  padding-top: 1rem;
  padding-right: 1rem;
  @apply shadow-lg;
  max-width: 400px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  * a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 21px;
    color: #818181;
    display: block;
    line-height: 1em;
    text-align: left;
  }
}

// Middle link section
.sidebar_linksection {
  flex: 1 0 auto;
  padding-left: 0.6rem;
  padding-top: 160px;
}

// bottom credit section of sidebar
.sidebar_footer {
  flex: 0 0 120px;
  // margin: auto;
  padding-bottom: 1rem;
  color: #818181;
  & > p {
    line-height: 1.2rem;
    font-size: medium;
    font-weight: 100;
    text-align: center;
    align-content: center;
  }
}

.sidebar :first-child {
  margin-top: 40px;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* On smaller screens, where height is less than 450px, 
*   change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-width: 768px) {
  .sidebar {
    padding-top: 15px;
    display: none;
    width: 0px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
