// omport
@charset 'UTF-8';


@import "../../mixins/center.scss";

$break-min: 0px;
$break-small: 1000px;
$break-large: 2000px;

// Width breakpoints
$width_phone: 480px;
$width_phone2: 768px;
$width_phone3: 992px;
$width_tablet: 1024px; // Minimum desktop width used worldwide
$width_tablet2: 1200px;
$width_desktop: 1920px;

$screen_breakpoints: (
  'phone': 320px,
  'tablet': 768px,
  'desktop': 1024px
) !default;

$unit-intervals: (
  'px': 1,
  'em': 0.01,
  'rem': 0.1
) !default;

// Variables
$tile-bg: #c6538e;

@keyframes pulse {
  0% {
    background: $tile-bg;
    transform: scale(1);
  }
  25% {
    background: darken($tile-bg, 10%);
    transform: scale(1.015);
  }

  50% {
    background: $tile-bg;
    transform: scale(1);
  }
}

.ytstandalone {
  @apply bg-red-200;
}

.ytstandalone:hover {
  @apply bg-red-200;
  transform: translateY(10px);
  animation: ease infinite pulse;
}

// for loop example
@for $i from 1 through 3 {
  .tile-#{$i} {
    margin-left: 100px * #{$i};
  }
}

.ytstandalone:nth-child(1) {
  animation-delay: 0.1s;
}

// ------------------
// YT carousal and it's cards
.ytcarousal {
  @apply bg-gray-200;
}

.ytcard {
  @apply my-8;
  @apply text-center;
}

.section_youtube_carousal {
  @apply mx-8;
  margin: auto;
  @media screen and (min-width: $break-min) {
    width: auto;
    float: none;
  }

  @media screen and (min-width: $break-small) {
    width: auto;
    float: none;
  }
}

.component_youtube_carousal {
  margin: auto;
  align-items: center;
  @include centerx(1080px);
}
